
@{
    ViewBag.Title = "InvalidVideoError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InvalidVideo requested!</h2>

<p><strong>No such video in DummyTube database ! ;( </strong></p>
<p><strong>Maybe it's time for a upload... :) </strong></p>

