@model HandleErrorInfo

@{
    ViewBag.Title = "InvalidUsernameError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invalid username !</h2>
<p><strong>No such user in DummyTube database! :)</strong></p>

